@model Restaurant.Models.UOM_VM

@{
    ViewData["Title"] = "editUOM";
}

<h1>editUOM</h1>

<h4>UOM_VM</h4>
<hr />
<style>
    /*body {
        margin-bottom: 60px;*/
        /*display: flex;*/
        /*justify-content: center;
        align-items: center;
        background: linear-gradient(145deg, darkseagreen, gainsboro);
        padding: 10px;*/
  }
    
</style>
<div class="row">
    <div class="col-md-4">
        <form asp-action="editUOM">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="UOMid" class="control-label"></label>
            <input asp-for="UOMid" class="form-control" />
            <span asp-validation-for="UOMid" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="UOMname" class="control-label"></label>
                <input asp-for="UOMname" class="form-control" />
                <span asp-validation-for="UOMname" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UOMid" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="UOMList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
